body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:aliceblue;
    background-image: url("back.png");
}
legend{
    margin-bottom:20px; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
}
#img {
    margin-top:30px;
    margin-bottom:10px;
    width:200px;
    height:80px;
}
#container {
    display:block;
    margin-top:0px;
    border-radius:10px;
    background-color:rgb(0, 0, 0);
    width:600px;
    height:930px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#field{
    width:380px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    border:none;
}
fieldset input{
    background-color:rgb(239, 239, 239)
}
.box1 {
    margin-top:10px;
    border-radius:10px;
    width: 184px;
    height:35px;
}

#email {
    margin-top:25px;
    border-radius:10px;
    width: 380px;
    height:35px;
}
.divisao label{
    text-align:justify; 
    margin-top:10px; 
    position:absolute;
    color:white;
}
#data{
    margin-top:28px;
    border-radius:10px;
    width: 185px;
    height:35px;
}
#genero{
    margin-top:28px;
    border-radius:10px;
    width: 185px;
    height:35px;  
}
#user{
    margin-top:28px;
    border-radius:10px;
    width: 380px;
    height:35px;
}
#senha{
    margin-top:28px;
    border-radius:10px;
    width:184px;
    height:35px;
}
#confirmar{
    margin-top:28px;
    border-radius:10px;
    width:184px;
    height:35px;
}

label{
    color:rgb(82, 171, 255);
}  
#box5{
    margin-right:73px;
    cursor:pointer
}
#box6{
    margin-right:73px;
    margin-bottom:25px;
    cursor:pointer
}
#msg {
    margin-top:5px;
    width:380px;
    height:80px;
    resize:none;
    border-radius:10px;
}
#botao{
    font-size:18px;
    margin-top:30px;
    margin-bottom:30px;
    color:white;
    background-color:#FD2E93;
    width:200px;
    height:40px;
    cursor:pointer;
    border-color:rgba(255, 255, 255, 0);
    border-radius:20px;
    margin-bottom:0;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    padding: 30px 100px;
}